{% extends 'ProyectoWebApp/base.html' %}
{% load static %}
{% block content %}
    <div class="container">

    <div class="row">
        {% for producto in productos %}
            <div class="col-md-4">
            <div class="card" style="width: 100%; margin: 5px 5px">
                <img src="{{ producto.imagen.url }}" class="card-img-top">
            </div>
            <div class="card-footer text-center">
            </div>
            </div>
        {% endfor %}
    </div>
    </div>
{% endblock %}